table {
    width: 600px;
}

thead {
    text-align: center;
}

table, th, td {
    border: 1px solid rgb(0, 1, 49);
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

th {
    background-color: rgb(221, 224, 33);
}