<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  
  <session-config>
    <session-timeout>25</session-timeout>
  </session-config>

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>CatalogueServlet</servlet-name>
    <servlet-class>SimiAlex.com.github.AutoStoreJavaEE.servlets.CatalogueServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CatalogueServlet</servlet-name>
    <url-pattern>/catalogue</url-pattern>
  </servlet-mapping>
</web-app>
